<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <main>
        <div class="text-center">
            <h1 class="listado2">CREAR NUEVO ITEM</h1>
        </div>
        <% products.forEach(product=> { %>
        <div class="container justify-content-center d-flex">
            <form action="/admin/edit/<%= product.product_id %>" method="POST" enctype="" class="form">
                <div class="container-options container justify-content-center d-flex">
                    <label for="form-box">Categoría:</label>
                    <select class="checkbox" id="form-box" name="category_id" value="<%= product.category_name %>">
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="Animation & Cartoons">Animation & Cartoons</option>
                        <option value="Comics & Superheroes">Comics & Superheroes</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Anime & Manga">Anime & Manga</option>
                    </select>
                    <label for="form-lic">Licencia:</label>
                    <select name="licence_id" class="checkbox" id="form-lic" value="<%= product.licence_name %>">
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="Pokemon" name="Pokemon">Pokemon</option>
                        <option value="Star Wars" name="Star Wars">Star Wars</option>
                        <option value="Harry Potter" name="Harry Potter">Harry Potter</option>
                        <option value="Marvel" name="Marvel">Marvel</option>
                    </select>
                </div>
                <div class="container-options container justify-content-center d-flex">
                    <label for="Produc-name">Nombre del producto:</label>
                    <input type="text" name="product_name" placeholder="Kakashi Hatake Shippuden Saga" id="Produc-name"
                        class="input-data" value="<%= product.product_name %>">
                </div>
                <div class="container justify-content-center d-flex">
                    <textarea name="product_description" rows="4" cols="50" placeholder=" Descripción del producto..."
                    class="container-options">
                    <%= product.product_description %>
                </textarea>
                </div>
                
                <div class="container-options container justify-content-center d-flex">
                    <label for="Produc-id">SKU:</label>
                    <input value="<%= product.product_sku %>" name="sku" type="text" placeholder="SSK111AB001" id="Produc-id" class="input-data" value="<%= product.product_sku %>">
                    <label for="Produc-price">PRECIO:</label>
                    <input value="<%= product.product_price %>" name="price" type="text" placeholder="$0.000,00" id="Produc-price" class="input-data">
                    <label for="Produc-stock">STOCK:</label>
                    <input value="25" name="stock" type="text" placeholder="0" id="Produc-stock" class="input-data">
                </div>
                <div class="container-options container justify-content-center d-flex">
                    <label for="Descuento">Descuento:</label>
                    <input name="discount" type="text" placeholder="0%" id="Descuento" class="input-data">
                    <label for="cuotas">CUOTAS:</label>
                    <select name="dues" class="checkbox" id="cuotas">
                        <option value="0" disabled selected hidden>3 cuotas sin interés</option>
                        <option value="3">3 cuotas sin interés</option>
                        <option value="6">6 cuotas con recargo</option>
                        <option value="9">9 cuotas con recargo</option>
                        <option value="12 ">12 cuotas con recargo</option>
                        <option value="18">18 cuotas con recargo</option>
                        <option value="24">24 cuotas con recargo</option>
                    </select>
                </div>

                <div class="container-options container justify-content-center d-flex">
                    <label for="image" style="cursor: pointer;">Imagenes:</label>
                    <input type="file" name="image" multiple>

                </div>

                <div id="status-message"></div>
                <div class="container justify-content-center d-flex">
                    <button class="cart-button3" type="submit">Agregar Producto</button>
                    <button class="cart-button3" type="reset">Limpiar</button>
                </div>

            </form>
        </div>
        <% }) %>    
    </main>
    <%- include ('../partials/footer') %>
</body>


</html>